<div class="nav-div">
    <app-navigator></app-navigator>
</div>
<div>
    <div class="contact-div">
        <div class="container">
            <div class="heading-div">
                <h1 class="heading">Contact Me</h1>
                <hr class="horizontal-line">
            </div>
            <div class="input-div">
                <div class="col1">
                    <input type="text" id="name" placeholder="Name">
                    <input type="email" id="email" placeholder="Email">
                    <div class="msg-div">
                        <textarea type="text" id="message" placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="btn-div">
                    <button mat-raised-button style="background-color: #ff914db5; 
                                                     height: 4.5vh;
                                                     color: rgba(0, 0, 0, 0.736); 
                                                     font-weight: 500; 
                                                     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 8px;
                                                     letter-spacing: normal;">Send Message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <footer>
            <div class="footer-div">
                <i class="material-icons">phone</i>
                <p class="f-content">+91-7812895613</p>
            </div>
            <div class="footer-div div2">
                <i class="material-icons">email</i>
                <p class="f-content">logeshkanna&#64;gmail.com</p>
            </div>
            <div class="footer-div div3">
                <i class="material-icons">location_on</i>
                <p class="f-content">TamilNadu, India.</p>
            </div>
        </footer>
    </div>
</div>