<div class="nav-div">
    <app-navigator></app-navigator>
</div>
<div class="about">
    <div class="heading-div">
        <h1 class="heading">About Me</h1>
        <hr class="horizontal-line">
    </div>
    <div class="about-div">
        <div class="container">
            <div class="row">
                <div class="col-md-3 img-div">
                    <img class="img" src="../../../assets/photos/mypiclogo.png">
                </div>
                <div class="col-md-9 content-div">
                    <div class="content">
                        <p class="content-text">
                            Hey there! I'm not your average software developer – I'm on a mission to make software
                            that's not just functional, but downright awesome! Currently, I'm the wizard behind the
                            curtain, weaving magic as a Laravel developer, with my focus honed in on revolutionizing the
                            school management experience.
                            I'm not one to shy away from a challenge. In fact, I thrive on them! Whether it's cracking a
                            tough coding problem or diving headfirst into the latest tech trends, I'm always up for the
                            adventure. With my trusty analytical skills and a dash of creativity, I'm constantly
                            concocting innovative solutions to even the trickiest of challenges.
                            But hey, I'm not just a lone wolf – I'm all about teamwork. There's nothing more
                            exhilarating than bouncing ideas off fellow developers and watching our collective
                            brilliance come to life in the form of game-changing software.
                            So, if you're ready to embark on a journey of innovation and creativity, let's connect and
                            see where our combined talents can take us!
                        </p>
                    </div>
                    <div class="cv">
                        <button mat-stroked-button class="cv-btn" style="background-color: white; 
                                           color: rgba(0, 0, 0, 0.736); 
                                           font-weight: 500; 
                                           box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                                           letter-spacing: normal;
                            ">Here is my CV</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>