<div class="nav-div">
    <app-navigator></app-navigator>
</div>
<div class="overall-div">
    <div>
        <div class="home-div" style="height: 100vh;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="container">
                            <h1 style="font-family:Playfair Display; font-size: 7vh; line-height: 5pc;">Hi.!, <br>I'm <strong style="color: #FF914D;"> Logesh kanna.</strong></h1>
                            <h3 style="font-family:Playfair Display; font-size: 6vh; line-height: 2pc;">a Developer</h3>
                            <div class="icon-div">
                                <button mat-fab class="icon-btn">
                                    <a href="mailto: logeshkanna.0105@gmail.com">
                                        <img src="../../../assets/icons/gmail.png" title="click me to sent mail">
                                    </a>
                                </button>
                                <button mat-fab class="icon-btn">
                                    <a href="https://www.linkedin.com/in/logesh-kanna-82032627b" target="_blank">
                                        <img src="../../../assets/icons/linkedin.png" title="visit my linkedin profile">
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 img-div" style="padding: 0 14%;">
                        <div class="container">
                            <img src="../../../assets/photos/mypic.png" class="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about">
        <app-about></app-about>
    </div>
    <div class="skills">
        <app-skills></app-skills>
    </div>
    <div class="contact">
        <app-contact></app-contact>
    </div>
</div>
