<div class="nav-div">
    <app-navigator></app-navigator>
</div>
<div class="skill-div">
    <div class="heading-div">
        <h4 class="heading">Skills</h4>
        <hr class="horizontal-line">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 content col1">
                <img src="../../../assets/photos/web-desinger.png" class="wd-img">
                <div class="content-div">
                    <h3 class="wd-heading">Website Designing</h3>
                    <p class="wd-para">I specialize in crafting visually captivating user interfaces by leveraging a comprehensive toolkit of HTML, CSS, JavaScript, jQuery, Angular, Bootstrap, and Angular Material UI.</p>
                </div>
            </div>
            <div class="col-md-4 content col2">
                <img src="../../../assets/photos/backend.png" class="wd-img">
                <div class="content-div">
                    <h3 class="wd-heading">Back-End Developer</h3>
                    <p class="wd-para">My expertise lies in PHP Laravel, MySQL, Postman, GitHub and Redis, where I specialize in crafting resilient backends and building REST APIs tailored for websites. With a strong command of server-side programming and database management, I ensure smooth data handling and performance optimization.</p>
                </div>
            </div>
            <div class="col-md-4 content col3">
                <img src="../../../assets/photos/test-automation.webp" class="wd-img">
                <div class="content-div">
                    <h3 class="wd-heading">QA Automation Testing</h3>
                    <p class="wd-para">My proficiency extends to automating websites using Java, Selenium, TestNG, Maven, and Appium. With a strong grasp of Java programming and the Selenium framework, I design efficient automation scripts to streamline website testing processes.</p>
                </div>
            </div>
        </div>
    </div>
</div>
