<div class="navbar">
    <ul class="nav-ul">
      <div class="logo-img">
        <li class="logo"><img src="../assets/photos/logo.png"></li>
      </div>
        <div class="nav-url">
          <li class="nav" routerLink="/home">Home</li>
          <li class="nav" routerLink="/about">About</li>
          <li class="nav" routerLink="/skills">Skills</li>
          <!-- <li class="nav" routerLink="/education_experience">Education & Experience</li> -->
          <li class="nav" routerLink="/contact">Contact</li>
        </div>
    </ul>
  </div>
  
